@using ParkerSmart.Models
@using ParkerSmart.Utilities
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>@Constants.APPLICATION_NAME.@ViewBag.Title.ToLower()</title>

	@if (ViewBag.TwitterCard != null)
	{
		<meta name="twitter:card" content="@ViewBag.TwitterCard" />
		<meta name="twitter:site" content="@ViewBag.TwitterId" />
		<meta name="twitter:creator" content="@ViewBag.TwitterCreatorId" />
		<meta name="twitter:title" content="@ViewBag.TwitterTitle" />
		<meta name="twitter:description" content="@ViewBag.TwitterDescription" />
		<meta name="twitter:image" content="@ViewBag.TwitterImage" />
		<meta name="twitter:image:alt" content="@ViewBag.TwitterImageAlt" />

		<meta property="og:title" content="@ViewBag.TwitterTitle" />
		<meta property="og:description" content="@ViewBag.TwitterDescription" />
		<meta property="og:image" content="@ViewBag.TwitterImage" />
		<meta property="og:image:alt" content="@ViewBag.TwitterImageAlt" />
		@*
			Haven't really needed these.

		<meta property="og:image:width" content="1024">
		<meta property="og:image:height" content="1024">
		*@
		<meta property="og:site_name" content="@ViewBag.OpenGraphSiteName" />
		<meta property="og:url" content="@ViewBag.OpenGraphUrl">
	}

	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

	<link rel="icon" type="image/png" href="@Constants.WEBSITE_URL/images/favicon.png">

	@* favicon is 64x64 *@
	<link rel="apple-touch-icon" href="@Constants.WEBSITE_URL/images/favicon.png">
	<link rel="apple-touch-icon" sizes="60x60" href="@Constants.WEBSITE_URL/images/favicon.png">
	<link rel="apple-touch-icon" sizes="114x114" href="@Constants.WEBSITE_URL/images/apple-touch-icon-120x120-precomposed.png">
	<link rel="apple-touch-icon" sizes="144x144" href="@Constants.WEBSITE_URL/images/apple-touch-icon-152x152-precomposed.png">
</head>

<body>
	<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark nav-opacity">

		@*Do NOT use @Html.Action() or you WILL get a "stack overflow" error*@

		<a class="navbar-brand" href="~/Home">
			<img src="~/Images/PDS Logo 64x64 alpha.png" style="height: 2em;" />
		</a>

		@*
			For WHATEVER reason the JS was not running for "collapse"
			When using this method I don't believe that I need any of the other data attributes.
		*@

		<button class="navbar-toggler" type="button" onclick="$('.collapse').collapse()"
				data-toggle="collapse" data-target="#mainNavBar"
				aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="mainNavBar">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					@Html.ActionLink("Home", "Index", "Home", new { @class = string.Format("nav-link{0}", ViewBag.Title == "Home" ? " active" : string.Empty) })
				</li>
				<li class="nav-item">
					@Html.ActionLink("Work", "Work", "Home", new { @class = string.Format("nav-link{0}", ViewBag.Title == "Work" ? " active" : string.Empty) })
				</li>
				<li class="nav-item">
					@Html.ActionLink("Play", "Play", "Home", new { @class = string.Format("nav-link{0}", ViewBag.Title == "Play" ? " active" : string.Empty) })
				</li>
				<li class="nav-item">
					@Html.ActionLink("About", "About", "Home", new { @class = string.Format("nav-link{0}", ViewBag.Title == "About" ? " active" : string.Empty) })
				</li>
				<li class="nav-item">
					@Html.ActionLink("Contact", "Contact", "Home", new { @class = string.Format("nav-link{0}", ViewBag.Title == "Contact" ? " active" : string.Empty) })
				</li>
			</ul>
		</div>
	</nav>

	<main role="main">
		@RenderBody()
	</main>

	<footer class="container" style="margin-bottom: 1em;">
		<div class="row">
			<div class="col-7 col-sm-5 col-md-4 col-lg-3">
				&copy; @ViewUtility.CopyrightDates() - @Html.ActionLink("Parker Smart", "Contact", "Home")
			</div>

			<div class="col-3 col-md-3 col-lg-4">
				ver:&nbsp;<a href="https://github.com/SpilledMilkCOM/ParkerSmart/commits/master" target="_blank">@ViewUtility.Version()</a>
			</div>

			<div class="col-2 col-md-2">
				<a class="twitter-share-button"
				   href="https://twitter.com/intent/tweet">
					Tweet
				</a>
			</div>

			<div class="col-12 col-md-3">
				<a class="twitter-follow-button"
				   href="https://twitter.com/SpilledMilkCOM"
				   data-show-count="true">
					Follow @@SpilledMilkCOM
				</a>
			</div>
		</div>
	</footer>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")

	@*Making sure that the script bundle is brought into EACH page.*@
	@Scripts.Render("~/bundles/parkersmart")

	@RenderSection("scripts", required: false)
</body>
</html>
